/* --- Global Styles --- */

* {
  min-height: 0;
  padding: 0;
}

#waybar {
  background: rgba(52, 50, 50, 0);
}

#workspaces,
#clock,
#bluetooth,
#network {
  padding: 0 0;
  margin-top: 8;
  color: rgb(202, 168, 139);
}

#workspaces,
#bluetooth,
#network {
  font-family: 'CommitMono Nerd Font Propo';
}


/* --- LEFT --- */

#workspaces {
  margin-left: 18;
  font-size: 14px;
  min-width: 0;
}

#workspaces button.empty {
  color: rgba(202, 168, 139, 0.3);
}

#workspaces button.active {
  color: rgba(202, 168, 139, 1);
}

#workspaces button {
  margin-right: 8px;
  color: rgba(202, 168, 139, 0.66);
}


/* --- CENTER --- */

#clock {
  padding: 0 0.7rem;
  font-family: "Terminus";
  font-size: 20;
  font-weight: 600;
}


/* --- RIGHT --- */

#bluetooth,
#network {
  padding-left: 12;
  font-size: 18px;
}

#network.disconnected {
  color: gray;
}

#bluetooth {
  font-size: 20px;
  margin-right: 22;
  color: rgba(202, 168, 139, 0.3);
}

#bluetooth.on {
  color: #caa88b;
}

#bluetooth.connected {
  color: #caa88b;
}


/* --- Tooltip Styles --- */

tooltip {
  background-color: #111111;
  margin: 5px 0px;
  border-radius: 0px;
  border: 1px solid rgba(202, 168, 139, 0.5);
}

tooltip label {
  font-family: "Terminus";
  color: #caa88b;
  padding: 5px;
  font-size: 20;
}
